.hide {
    display: none;
}

h1 {
    font-family: Helvetica;
    text-align: center;
    color: rgb(56, 0, 0);
}

.screen h1 {
    color: white;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    text-shadow: 1px 1px 1px black;
}

.screen {
    background: maroon;
    position: absolute;
    top: 200px;
    max-width: 600px;
    height: 300px;
    margin: auto auto;
    left:0;
    right:0;
}

.gold {
    width: 70px;
    height: 70px;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 370px;
    border-radius: 100%;
    box-shadow: 0 0 45px yellow,
                0 0 45px yellow,
                0 0 45px yellow,
                0 0 45px yellow,
                0 0 45px yellow,
                0 0 45px yellow,
                0 0 45px yellow,
                0 0 45px yellow,
                0 0 45px yellow;
    margin-top: -35px;
}

.gold .n {
    background: rgb(219, 115, 1);
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    top: 50%;
    margin-top: -10px;
    border-radius: 100%;
}

.source {
    position: absolute;
    width: 50px;
    height: 20px;
    background: rgb(0, 194, 255);
    top: 70px;
    left: 10px;
    border-radius: 2px 15px 15px 2px;
}

.helium {
    width: 10px;
    height: 10px;
    background: white;
    position: absolute;
    top: 76px;
    left: 60px;
    border-radius: 100%;
}
