.screen {
    background: maroon;
    position: absolute;
    top: 200px;
    max-width: 600px;
    height: 300px;
    margin: auto auto;
    left:0;
    right:0;
}

.gold {
    width: 70px;
    height: 70px;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 370px;
    border-radius: 100%;
    box-shadow: 0 0 45px yellow,
                0 0 45px yellow,
                0 0 45px yellow,
                0 0 45px yellow,
                0 0 45px yellow,
                0 0 45px yellow;
    margin-top: -35px;
}

.source {
    position: absolute;
    width: 50px;
    height: 20px;
    background: rgb(0, 194, 255);
    top: 70px;
    left: 10px;
    border-radius: 2px 15px 15px 2px;
}
