.hide {
    display: none;
}

body {
    font-family: Helvetica;
}

 * {
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}

p {
    font-size: 12px;
    font-weight: bold;
}

h1 {
    font-family: Helvetica;
    text-align: center;
    color: rgb(56, 0, 0);
}

.screen h1 {
    color: white;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 3px;
    text-shadow: 1px 1px 1px black;
}

.screen {
    background: maroon;
    position: absolute;
    top: 200px;
    max-width: 600px;
    height: 300px;
    margin: auto auto;
    left: 0;
    right: 0;
    border-radius: 4px;
    border: 3px solid rgb(104, 0, 0);
}

.gold {
    width: 70px;
    height: 70px;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 370px;
    border-radius: 100%;
    box-shadow: 0 0 45px yellow,
                0 0 45px yellow,
                0 0 45px yellow,
                0 0 45px yellow,
                0 0 45px yellow,
                0 0 45px yellow,
                0 0 45px yellow,
                0 0 45px yellow,
                0 0 45px yellow;
    margin-top: -35px;
}

.gold .n {
    background: rgb(219, 115, 1);
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    top: 50%;
    margin-top: -10px;
    border-radius: 100%;
}

.source {
    position: absolute;
    width: 50px;
    height: 20px;
    background: rgb(0, 194, 255);
    top: 70px;
    left: 10px;
    border-radius: 2px 15px 15px 2px;
}

.helium {
    width: 10px;
    height: 10px;
    background: white;
    position: absolute;
    top: 76px;
    left: 60px;
    border-radius: 100%;
}

button {
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 12px;
    color: white;
    font-family: Helvetica;
    font-weight: bold;
    cursor: pointer;
}

button.teal:hover,
button.teal.active { background: rgb(2, 177, 177); }

button.teal { background: teal; }

button.red:hover,
button.red.active { background: rgb(182, 0, 0); }
button.red { background: darkred; }

.screen p {color: white; margin: 0 0 0 10px}
